@charset "UTF-8";
@font-face {
  font-family: "myLato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato bold"), local("Lato-bold");
  src: url(/webroot/fonts/AnyConv.com__Lato-Bold.woff2) format(woff2), url(/webroot/fonts/AnyConv.com__Lato-Bold.woff) format(woff); }

@font-face {
  font-family: "myLato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato regular"), local("Lato-regular");
  src: url(/webroot/fonts/AnyConv.com__Lato-Regular.woff2) format(woff2), url(/webroot/fonts/) format(woff); }

body {
  font-family: "myLato", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #F4F6F9; }

header {
  padding-block-end: 100px; }

ul > li {
  list-style: none;
  padding: 10px; }

.first_container,
.second_container,
.third_container,
.forth_container {
  padding: 1rem; }

.container_title,
.second_container--title,
.third_container--title {
  font-family: "Lato";
  font-weight: 700;
  line-height: 48px;
  color: #333333;
  text-align: center;
  font-size: 30px;
  text-align: center; }

.third_container--paragraph,
.container_paragraph,
.second_container--paragraph {
  font-family: "Lato";
  font-weight: 400;
  line-height: 33px;
  font-size: 16px;
  color: #4F4F4f;
  text-align: center; }

.container_2 {
  background-color: #ffffff;
  background-image: url(../img/bg_friendly_user_interface.png);
  background-repeat: no-repeat;
  background-position-x: 50%;
  background-position-y: calc(100% + 652px);
  padding-block-end: 652px; }

.second_container a {
  text-decoration: none;
  color: #00ADEE; }

.fourth_container--title {
  font-family: "Lato";
  text-align: center;
  font-size: 28px;
  color: #333333; }

@media (min-width: 800px) {
  .container_1 {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-position: 500px 100%;
    padding-bottom: 10rem; }
  .first_container {
    padding-block-start: 50px;
    padding-inline-start: 150px; }
  .container_title,
  .container_paragraph {
    width: 500px;
    text-align: start; }
  .container_title {
    font-family: "Lato";
    font-weight: 700;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    color: #333333; }
  .container_paragraph {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    color: #4F4F4f; }
  .container_2 {
    padding: 150px; }
  .second_container {
    padding: 0; }
  .interface-content {
    max-width: 480px;
    text-align: start; }
  .second_container--paragraph:nth-last-of-type(1) {
    padding-block-end: 54px; }
  .second_container a {
    text-decoration: none;
    color: #00ADEE;
    text-align: start;
    padding-block-start: 54px; }
  .container_2 {
    background-color: #ffffff;
    background-image: url(../img/bg_friendly_user_interface.png);
    background-repeat: no-repeat;
    background-position: calc(calc(100% + 480px) / 3);
    padding-block-end: 150px; }
  .container_3 {
    background: #00ADEE;
    padding: 50px; }
  .paragraph-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 68px;
    row-gap: 0;
    text-align: start; }
  .paragraph-wrapper p {
    text-align: start;
    padding: 0; }
  .paragraph-wrapper p::before {
    content: "â—";
    color: white;
    padding-inline-end: 2px; }
  .third_container--title,
  .third_container--paragraph {
    color: #ffffff; }
  .paragraph-wrapper > li path {
    fill: #ffffff; }
  .container_4 {
    padding: 50px; } }

.button {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

@media (min-width: 800px) {
  .button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    padding-inline-start: 0;
    padding-block-start: 20px; } }

.container_1,
.container_4 {
  background-color: #F4F6F9; }

.first_container,
.second_container,
.third_container,
.forth_container {
  text-align: center; }

@media (min-width: 800px) {
  .first_container {
    max-width: 1114px;
    margin: 0; }
  .first_container,
  .second_container,
  .forth_container {
    text-align: start; } }

.icon_sportsTv,
.icon_sports,
.icon_nbc,
.icon_designer,
.icon_dn,
.icon_skysport {
  background-repeat: no-repeat;
  min-height: 50px;
  background-position: center; }

.featured_in a {
  display: block;
  visibility: hidden; }

.second-row,
.first-row {
  display: flex;
  gap: 10px; }

.first-row li:first-child {
  flex-basis: 50%; }

.first-row li:nth-of-type(2) {
  flex-basis: 50%; }

.second-row li:nth-of-type(1) {
  flex-basis: 30%; }

.featured_in li:nth-of-type(2) {
  flex-basis: 40%; }

.featured_in li:nth-of-type(3) {
  flex-basis: 30%; }

.third-row p {
  flex-basis: 100%; }

.icon_sportsTv {
  background-image: url(../img/sportsTv.png); }

.icon_sports {
  background-image: url(../img/sports.png); }

.icon_nbc {
  background-image: url(../img/nbc-sports.png); }

.icon_designer {
  background-image: url(../img/designer-technology.png); }

.icon_dn {
  background-image: url(../img/designer-new.png); }

.icon_skysport {
  background-image: url(../img/sky-sports.png); }

@media (min-width: 800px) {
  .icons {
    display: flex;
    align-items: center;
    justify-content: center; }
  .first-row li:first-child,
  .first-row li:nth-of-type(2),
  .second-row li:nth-of-type(1),
  .featured_in li:nth-of-type(2),
  .featured_in li:nth-of-type(3),
  .third-row p {
    padding: 50px; } }

.footer_icon {
  display: flex;
  flex-direction: row; }

.button_list {
  display: flex;
  flex-direction: row; }

footer {
  background-color: #00ADEE; }

h4 a,
.footer_icon a {
  display: none; }

h4 img {
  padding-inline-start: 50px; }

.footer_container a {
  text-decoration: none;
  color: white; }

@media (min-width: 800px) {
  footer {
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-evenly; }
  footer > nav:nth-of-type(1) {
    order: 2; }
  footer > nav:nth-of-type(2) {
    order: 1; } }
