@font-face {
  font-family: "myLato";
  font-style: normal;
  font-weight: 700;
  src: local("lato bold"), local("lato-bold");
  src: url(/webroot/fonts/AnyConv.com__Lato-Bold.woff2), url(/webroot/fonts/AnyConv.com__Lato-Bold.woff2); }

body {
  background: #F4F6F9;
  margin: 0;
  padding-inline-start: 50px;
  font-family: "Lato", Arial, Helvetica, sans-serif; }

h1 {
  margin-inline-start: auto;
  margin-inline-end: auto; }

ul > li {
  list-style: none;
  padding-inline-start: 0; }

img {
  max-width: 100%; }

div {
  max-width: 550px; }

@media (min-width: 368px) {
  picture {
    display: none; }
  .sport_logo {
    padding-block-end: 50px; } }

@media (min-width: 740px) {
  body {
    content: " ";
    background-image: url("../img/bg_header-1.png");
    background-repeat: no-repeat;
    display: block;
    background-position: 100% 0%; }
  h1 {
    margin-inline-start: 0;
    margin-inline-end: 0; } }

@media (min-width: 368px) {
  .info__title--before {
    font-family: "Lato";
    font-weight: 700;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #333333;
    text-align: start; }
  .info__title--demand {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #4F4F4f;
    text-align: center;
    padding-inline-end: 3rem; } }

@media (min-width: 780px) {
  .info__title--before,
  .info__title--demand {
    max-width: 40%;
    padding-inline-start: 0; }
  .info__title--before {
    font-family: "Lato";
    font-weight: 700;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #333333; }
  .info__title--demand {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #4F4F4f;
    text-align: center; } }

@media (min-width: 368px) {
  .buttons {
    margin-block-start: 50px; }
  .button {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-inline-start: 0; } }

@media (min-width: 780px) {
  .button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    padding-inline-start: 0; } }
