@media (min-width : 368px) {
  .sport__logo {

  }
  .sport__logo--title {
    visibility: hidden;
    position: relative;
  }

  .sport__logo--title-colour {
    display: block;
    width: 178px;
    position: absolute;
    top: 30px;
    left: 90px;
    margin-bottom: 50px;
  }

  .bg-header {
   display: none;
  }
}

@media (min-width : 768px) {
  .bg-header {
    display: block;

  }
}
