@import "variable";
// Every parents element has 1rem of padding
.first_container,
.second_container,
.third_container,
.forth_container {
    padding: 1rem;
}

// these three titles have the same property value
.container_title,
.second_container--title,
.third_container--title {
    font-family: "Lato";
    font-weight: 700;
    line-height: 48px;
    color: #333333;
    text-align: center;
    font-size: 30px;
    text-align: center;
}

// these three paragraphs have the same property value
.third_container--paragraph,
.container_paragraph,
.second_container--paragraph {
    font-family: "Lato";
    font-weight: 400;
    line-height: 33px;
    font-size: 16px;
    color: #4F4F4f;
    text-align: center;
}

.container_2 {
    background-color: #ffffff;
    background-image: url(../img/bg_friendly_user_interface.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: calc(100% + 652px);
    padding-block-end: 652px;
}

.second_container a {
    text-decoration: none;
    color: #00ADEE;
}

.fourth_container--title {
    font-family: "Lato";
    text-align: center;
    font-size: 28px;
    color: #333333;
}

@media (min-width: 800px) {
    .container_1 {
        background-image: url(../img/bg_header.png);
        background-repeat: no-repeat;
        background-position: $container-width 100%;
        padding-bottom: 10rem;
    }
    .first_container {
        padding-block-start: 50px;
        padding-inline-start: 150px;
    }
    .container_title,
    .container_paragraph {
        width: $container-width;
        text-align: start;
    }
    .container_title {
        font-family: "Lato";
        font-weight: 700;
        font-weight: bold;
        font-size: 30px;
        line-height: 48px;
        color: #333333;
    }
    .container_paragraph {
        font-family: "Lato";
        font-weight: 400;
        font-size: 16px;
        line-height: 33px;
        color: #4F4F4f;
    }
    .container_2 {
        padding: 150px;
    }
    .second_container {
        padding: 0;
    }
    .interface-content {
        max-width: 480px;
        text-align: start;
    }
    .second_container--paragraph:nth-last-of-type(1) {
        padding-block-end: 54px;
    }
    .second_container a {
        text-decoration: none;
        color: #00ADEE;
        text-align: start;
        padding-block-start: 54px;
    }
    .container_2 {
        background-color: #ffffff;
        background-image: url(../img/bg_friendly_user_interface.png);
        background-repeat: no-repeat;
        background-position: calc(calc(100% + 480px) / 3);
        padding-block-end: 150px;
    }
    .container_3 {
        background: #00ADEE;
        padding: $padding-side;
    }
    .paragraph-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 68px;
        row-gap: 0;
        text-align: start;
    }
    .paragraph-wrapper p {
        text-align: start;
        padding: 0;
    }
    .paragraph-wrapper p::before {
        content: "â—";
        color: white;
        padding-inline-end: 2px;
    }
    .third_container--title,
    .third_container--paragraph {
        color: #ffffff;
    }
    .paragraph-wrapper>li path {
        fill: #ffffff;
    }
    .container_4 {
        padding: $padding-side;
    }
}