@import "fonts";
@media (min-width: 368px) {
  .container_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center center;
    margin-inline-start: auto;
    margin-inline-end: auto;
    width: 550px;
  }
}

  .information_title{
    font-family: "myLato";
    font-weight: 700;
    line-height: 48px;
    color: #333333;
    text-align: start
  }

  .information_paragraph{
    font-family: "myLato";
    font-weight: 400;
    line-height: 33px;
    color: #4F4F4f;
    text-align: center;
    padding-inline-end: 3rem;
  }

// @media (min-width: 780px) {
//   .iinformation_title,
//   .information_paragraph {
//      max-width: 40%;
//      padding-inline-start: 0;
//   }

//   .iinformation_title {
//     font-family: "Lato";
//     font-weight: 700;
//     font-weight: bold;
//     font-size: 36px;
//     line-height: 48px;
//     letter-spacing: 0.03em;
//     color: #333333;
//     }

//   .information_paragraph {
//     font-family: "Lato", sans-serif;
//     font-weight: 400;
//     font-size: 20px;
//     line-height: 33px;
//     color: #4F4F4f;
//     text-align: center;
//   }
// }

