@import "variable";
.first_container,
.second_container,
.third_container,
.forth_container {
  padding: 1rem;
}

  .third_container--title,
  .container_title,
  .second_container--title {
    font-family: "Lato";
    font-weight: 700;
    line-height: 48px;
    color: #333333;
    text-align: start;
    font-size: 30px;
    text-align: center;
  }

  .third_container--paragraph,
  .container_paragraph,
  .second_container--paragraph {
    font-family: "Lato";
    font-weight: 400;
    line-height: 33px;
    font-size: 16px;
    color: #4F4F4f;
    text-align: center;
  }

  .container_2 {
    background-color: #ffffff;
    background-image: url(../img/bg_friendly_user_interface.png);
    background-repeat: no-repeat;
    background-position-x: 50%;
    background-position-y: calc(100% + 652px);
    padding-block-end: 652px;
  }

  .second_container a {
    text-decoration: none;
    color: #00ADEE;
  }

  .fourth_container--title {
    font-family: "Lato";
    text-align: center;
    font-size: 28px;
    color: #333333;
  }

@media (min-width: 800px) {
  .container_1 {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-position: $container-width 80%;
    padding-bottom: 10rem;
  }

  .container_title,
  .container_paragraph {
    width: $container-width;
    text-align: start;
  }

  .container_title {
    font-family: "Lato";
    font-weight: 700;
    font-weight: bold;
    font-size: 30px;
    line-height: 48px;
    color: #333333;
  }

  .container_paragraph {
    font-family: "Lato";
    font-weight: 400;
    font-size: 16px;
    line-height: 33px;
    color: #4F4F4f;
  }

  .second_container {
    max-width: 480px;

  }
  .container_2 {
    background-color: #ffffff;
    background-image: url(../img/bg_friendly_user_interface.png);
    background-repeat: no-repeat;
    background-position: calc(100% + 480px);
    padding-block-end: 0;
  }
}

