@import "variable";

body {
  margin: 0;
  background-color: $body-header-colour;
}

h1 {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

ul > li {
  list-style: none;
  padding-inline-start: 0;
}

img {
  max-width: 100%;
}

