
body {
  background: #F4F6F9;
  margin: 0;
  padding-inline-start: 50px;
  font-family: "Lato", Arial, Helvetica, sans-serif;
}

h1 {
  margin-inline-start: auto;
  margin-inline-end: auto;
}

ul > li {
  list-style: none;
  padding-inline-start: 0;
}

img {
  max-width: 100%;
}

div {
  max-width: 550px;
}
