@import "variable";

body {
  font-family: "myLato", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: $body-header-colour;
}

header {
  padding-block-end: 100px;

}

ul > li {
  list-style: none;
  padding: 10px;
}



