@import "./variable";
@media (min-width: 368px) {

.button {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  justify-content: flex-start;
  }
}

@media (min-width: 800px) {
  .button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
    padding-inline-start: 0;
    padding-block-start: 20px;
  }
}
