@import "./variable";


.button {
display: flex;
flex-direction: row;
justify-content: space-between;
}


@media (min-width: 800px) {
  .button {
    display: flex;
    flex-direction: row;
    justify-content: left;;
    gap: 1rem;
    padding-inline-start: 0;
    padding-block-start: 20px;
  }
}
