.icon_sportsTv,
.icon_sports,
.icon_nbc,
.icon_designer,
.icon_dn,
.icon_skysport {
  background-repeat: no-repeat;
}

.featured_in a {
  display: none;
}

.icon_sportsTv {

  background-image: url(../img/sportsTv.png);
}
.icon_sports {
  background-image: url(../img/sports.png);
}
.icon_nbc {
  background-image: url(../img/nbc-sports.png);
}
.icon_designer {
  background-image: url(../img/designer-technology.png);
}
.icon_dn {
  background-image: url(../img/designer-new.png);
}
.icon_skysport {
  background-image: url(../img/sky-sports.png);
}

@media (min-width: 800px) {

}
