@import "./variable";

@font-face {
  font-family: "myLato";
  font-style: normal;
  font-weight: 700;
  src: local('lato bold'), local('lato-bold');
  src: url(/webroot/fonts/AnyConv.com__Lato-Bold.woff2),
  url(/webroot/fonts/AnyConv.com__Lato-Bold.woff);
  }

@font-face {
  font-family: "myLato";
  font-style: normal;
  font-weight: 400;
  src: local('lato regular'), local('lato-regular');
  src: url(/webroot/fonts/AnyConv.com__Lato-Regular.woff2),
  url(/webroot/fonts/AnyConv.com__Lato-Regular.woff);
  }

