.footer_icon {
  display: flex;
  flex-direction: row;
}
.button_list {
  display: flex;
  flex-direction: row;
}

footer {
  background-color: #00ADEE;;
}

h4 a,
.footer_icon a {
  display: none;
}
h4 img {
  padding-inline-start: 50px;
}

.footer_container a{
  text-decoration: none;
  color: white;
}
