@import "variable";
.container_second,
.container_third,
.forth_container {
  text-align: center;
}
@media (min-width: 800px) {
  .container_first {
    max-width: $max-width-container;
    margin: 0;
  }

  .container_second {
  }
}


