.container_1,
.container_4 {
  background-color: $body-header-colour;
}

  .first_container,
  .second_container,
  .third_container,
  .forth_container {
    text-align: center;
  }

@media (min-width: 800px) {
  .first_container{
    max-width: $max-width-container;
    margin: 0;
  }
  .first_container,
  .second_container,
  .forth_container {
    text-align: start;
  }
}



