@media (min-width: 368px) {
  .sport_logo {
    padding-block-start: 30px;
    padding-block-end: 60px;
  }

}

@media (min-width : 740px) {
body {
  background-image: url("../img/bg_header-1.png");
  background-repeat: no-repeat;
  display: block;
  background-position: 100% 0%;
}

.sport_logo {
  padding-block-end: 150px;
}

}
