@media (min-width: 368px) {
  picture {
    display: none;
  }

  .sport_logo {
    padding-block-end: 50px;
  }

  .sport_logo--title-colour {

  }
}

@media (min-width : 740px) {
body {
  content: " ";
  background-image: url("../img/bg_header-1.png");
  background-repeat: no-repeat;
  display: block;
  background-position: 100% 0%;

}

  h1 {
    margin-inline-start: 0;
    margin-inline-end: 0;
  }

}
