@media (min-width: 368px) {
  .info__title--before {
    font-family: "Lato";
    font-weight: 700;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #333333;
    text-align: start; }
  .info__title--demand {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #4F4F4f;
    text-align: center;
    padding-inline-end: 3rem; } }

@media (min-width: 780px) {
  .info__title--before,
  .info__title--demand {
    max-width: 40%;
    padding-inline-start: 0; }
  .info__title--before {
    font-family: "Lato";
    font-weight: 700;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    letter-spacing: 0.03em;
    color: #333333; }
  .info__title--demand {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #4F4F4f;
    text-align: center; } }
