@media (min-width: 440px) {
  .button__title {
      display: none;
    }

  .download__button--app{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
}

@media (min-width: 780px) {
  .download__button--app{
    max-width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 1rem;
  }
}
