@font-face {
  font-family: "myLato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato bold"), local("Lato-bold");
  src: url(/webroot/fonts/AnyConv.com__Lato-Bold.woff2) format(woff2), url(/webroot/fonts/AnyConv.com__Lato-Bold.woff) format(woff); }

@font-face {
  font-family: "myLato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato regular"), local("Lato-regular");
  src: url(/webroot/fonts/AnyConv.com__Lato-Regular.woff2) format(woff2), url(/webroot/fonts/) format(woff); }

body {
  font-family: "myLato", Arial, Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: #F4F6F9; }

header {
  padding-block-end: 100px; }

ul > li {
  list-style: none;
  padding: 10px; }

@font-face {
  font-family: "myLato";
  font-style: normal;
  font-weight: 700;
  src: local("Lato bold"), local("Lato-bold");
  src: url(/webroot/fonts/AnyConv.com__Lato-Bold.woff2) format(woff2), url(/webroot/fonts/AnyConv.com__Lato-Bold.woff) format(woff); }

@font-face {
  font-family: "myLato";
  font-style: normal;
  font-weight: 400;
  src: local("Lato regular"), local("Lato-regular");
  src: url(/webroot/fonts/AnyConv.com__Lato-Regular.woff2) format(woff2), url(/webroot/fonts/) format(woff); }

@media (min-width: 368px) {
  .container_first,
  .container_second {
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center center;
    margin-inline-start: auto;
    margin-inline-end: auto; }
  .container_title {
    font-family: "Lato";
    font-weight: 700;
    line-height: 48px;
    color: #333333;
    text-align: start;
    font-size: 40px;
    text-align: center; }
  .container_paragraph {
    font-family: "Lato";
    font-weight: 400;
    line-height: 33px;
    font-size: 20px;
    color: #4F4F4f;
    text-align: center; } }

@media (min-width: 800px) {
  .container_1 {
    background-image: url(../img/bg_header.png);
    background-repeat: no-repeat;
    background-position: 100% 90%;
    background-size: 60%;
    height: 40vw; }
  .container_title,
  .container_paragraph {
    width: 550px;
    text-align: start;
    padding: 20px; }
  .container_title {
    font-family: "Lato";
    font-weight: 700;
    font-weight: bold;
    font-size: 36px;
    line-height: 48px;
    color: #333333; }
  .container_paragraph {
    font-family: "Lato";
    font-weight: 400;
    font-size: 20px;
    line-height: 33px;
    color: #4F4F4f; } }

@media (min-width: 368px) {
  .button {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    justify-content: flex-start; } }

@media (min-width: 800px) {
  .button {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 1rem;
    padding-inline-start: 0;
    padding-block-start: 20px; } }

.container_second,
.container_third,
.forth_container {
  text-align: center; }

@media (min-width: 800px) {
  .container_first {
    max-width: 1114px;
    margin: 0; } }

@media (min-width: 368px) {
  .icon_sportsTv,
  .icon_sports,
  .icon_nbc,
  .icon_designer,
  .icon_dn,
  .icon_skysport {
    background-repeat: no-repeat; }
  .icon_sportsTv {
    grid-area: icon_sportsTv;
    background-image: url(../img/sportsTv.png); }
  .icon_sports {
    grid-area: icon_sports;
    background-image: url(../img/sports.png); }
  .icon_nbc {
    grid-area: icon_nbc;
    background-image: url(../img/nbc-sports.png); }
  .icon_designer {
    grid-area: icon_designer;
    background-image: url(../img/designer-technology.png); }
  .icon_dn {
    grid-area: icon_dn;
    background-image: url(../img/designer-new.png); }
  .icon_skysport {
    grid: icon_skysport;
    background-image: url(../img/sky-sports.png); } }

.footer_icon {
  display: flex;
  flex-direction: row; }

.button_list {
  display: flex;
  flex-direction: row; }
