@media (min-width : 368px) {
  .sport__logo--title {
   display: none;
  }

  .sport__logo--title-colour {
    display: block;
    max-width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  .bg-header {
   display: none;
  }
}

@media (min-width : 740px) {
  .bg-header {
    display: flex;
    float: right;
  }
}
