@media (min-width : 368px) {
  .sport__logo {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  }

  .sport__logo--title-colour {
    display: block;
    max-width: 100%;
    margin-inline-start: auto;
    margin-inline-end: auto;
  }

  .bg-header {
   display: none;
  }
}

@media (min-width : 740px) {
  .bg-header {
    /* display: flex; */
  }
}
